body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: monospace;
  color: rgb(21, 168, 8);

}

@font-face{
	font-family: 'MEGAhacker';
	src: url('Mad-Hacker.woff2') format('woff2'),
		 url('Mad-Hacker.woff') format('woff'),
		 url('Mad-Hacker.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dictionary {
	background: black;
	padding: 3em;
}


.inputfield {
	margin: 15px;
	padding: 1px;
	font-family: monospace;
	box-shadow: 0 0 10px 4px rgb(21, 168, 8);
	color: rgb(21, 168, 8);
	background-color: black;
}

.inputfield:focus {
	outline-width: 0;
}

.red-text {
	color: red;
}

.container {
	font-family: monospace;
	position: absolute;
	top: 20%;
	left: 35%;
	display: block;
	margin: auto;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	border-radius: 0.3em;
	padding-left: 4em;
	padding-right: 4em;
	padding-top: 2em;
	padding-bottom: 2em;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 1em;
	color: rgb(21, 168, 8);
}

button {
	color: black;
	border: 5px;
	border-radius: 4px;
	font-family: monospace;
	background-color: rgb(21, 168, 8);
	text-align: center;

}

#segment{
	text-align: center;
	font-size: 200px;
	margin-top: 35%;
}

#qrcode {
	width: 50%;
}

#title {
	text-align: center;	
}

#fragment {
	width: 100%;
	height: 100%;
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}

#tiny {
    font-size: 0.5em;
}

#hacker_bg {
	position:fixed;
	top:0;
	left:0
}
